.panel {
  background: rgba(0,0,0,0.7);
  color: #ccc;
}


#states-panel {
  position: absolute; top: 60px; right: 0px;
  min-width: 100px; z-index: 4000;  }
#states-panel div {
  /* border-bottom: 1px solid rgba(80,80,80,0.8); */
}

#exploreMode,
#demoMode,
#calendarMode {
  display: block;
  cursor: pointer;
  height: 60px;
  min-width: 60px;
  width: 60px;
  line-height: 60px;
}

#exploreModeBtn {
  display: block;
  cursor: pointer;
  height: 60px;
  width: 60px;
  min-width: 60px;
  line-height: 60px;
  background: url('img/microscope.svg?sksksk') 0px 0px no-repeat;
}

#demoModeBtn {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: url('img/sofa.svg?sks') 0px 0px no-repeat;
}

#calendarModeBtn {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: url('img/graph.svg') 0px 0px no-repeat;
}


#demoModeBtnLabel, #exploreModeBtnLabel {
  margin-right: 20px;
  display: none;

}

.mode {
  margin: 0px 0px 0px 0px;
  display: block;
}

/* top right bottom left */

.mode-selected {
  margin: 0px 0px 0px 0px;
  display: block;
  background: rgba(200,200,200,0.3);
}

#header-panel {
  color: #ccc;
  position: absolute;
  min-width: 320px;
  line-height: 60px;
  height: 60px;
  overflow: none;
  top: 0px;
  width: 100%;
  z-index: 3000;
  text-align: center;
}


#title {
  color: #e7e7e7;
  padding: 0px 20px;
  display: block;
  line-height: 60px;
  padding: 0px 20px 0px 20px;
  font-size: 24px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  z-index: 4000;
}

#modes {
  position: absolute;
  left: 0px;
  top: 120px;
  height: 60px;
  width: 60px;
  z-index: 10000;
}

#fullscreen span {
  width: 60px;
  height: 60px;
}

#fullscreen {
  display: block;
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100101011010;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: url('img/fullscreen.svg') center center no-repeat;
}

#service {
  display: inline-block;
  width: 0px;
}

#logo-block {
  position: absolute;
  display:block;
  bottom: 10px;
  left: 10px;
  z-index: 1999999;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

#logo-block img {
  margin-bottom: 3px;
}

#logo-block a,
#logo-block a:active,
#logo-block a:visited,
#logo-block a:hover {
  color: #fff;
}

#logo-block:hover {
  opacity: 1;
}

#legend-panel {
  position: absolute;
  display:block;
  max-width: 240px;
  margin-left: -100px;
  min-width: 100px;
  bottom: 25px;
  left: 50%;
  padding: 5px;
  visibility: hidden;
  line-height: 20px;
  font-size: 13px;
  color: #ccc;
  z-index: 4000;
}

#tooltip {
  font-size: 24px;
  color: #ccc;
  font-family: Roboto Medium, Sans-Serif;
  background: rgba(0,0,0,0.8);
  padding: 10px;
  max-width: 250px;
  font-size: 12px;
  position: absolute;
  z-index: 6000;
}

#content-panel {
  font-size: 24px;
  color: #fff;
  padding: 5px;
  max-width: 220px;
  font-size: 12px;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 250px;
  max-height: 400px;
  z-index: 100666;
  visibility: hidden;
  overflow-y: auto;
}

#closeBtn {
  display: block;
  width: 30px;
  height: 30px;
  background: url('img/close.svg') center center no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1999999999;
}

.mapboxgl-ctrl-attrib, .mapboxgl-ctrl {
  background: rgba(40,40,40,0.7);
  color: #ccc;
  z-index: 100500;
}

.menu-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  padding: 15px 20px 5px 20px;
  border-top: 1px solid rgba(200,200,200,0.2);
}

.menu-header:first-child {
  /* border-top: none; */
}

.menu-item {
  font-size: 15px;
  color: #ccc;
  padding: 8px 20px;
  cursor: pointer;
}

.menu-item:hover {
  color: #fff;
}

.menu-item-selected {
  cursor: pointer;
  font-size: 15px;
  background: rgba(200,200,200,0.2);
  color: #fff;
  padding: 8px 20px;
/*  border: 2px solid white; */
}

.legend-block {
  width: 100%;
  display: flex;
  text-align: center;
  max-width: 200px;
  line-height: 20px;
  vertical-align: middle;
}


.legend-description {
  font-size: 15px;

  }

.legend-min-value {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-right: 10px;
}

.legend-image, .legend-image img {
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}

.legend-max-value {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-left: 10px;
}

.header {
  font-size: 16px;
}
.param {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 90px;
  padding: 10px;
  vertical-align: top;
}

.value {
  text-align: cetner;
  color: #DDD;
  font-size: 22px;
}

.description {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}


.key {
  margin-top: 10px;
  text-align: center;
  color: #DDD;
  font-size: 12px;
}


/* CALENDAR BLOCKS */

#calendar-screen {
  display: none;
/*  visibility: hidden; */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(0,0,0,1);
  overflow-x: auto;
}

#calendar-title {
  color: #fff;
  font-size: 24px;
  position: absolute;
  min-width: 320px;
  line-height: 60px;
  height: 60px;
  overflow: none;
  top: 0px;
  width: 100%;
  z-index: 3000;
  text-align: center;
}

#calendar-legend {
  display: block;
  text-align: center;
  width: 100%;
  color: #CCC;
  margin-top: 10px;

}

#calendar-modes {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 60px;

}

.calendar-mode {
  display: inline-block;
  color: #ccc;
  padding: 10px;
  cursor: pointer;
}

.calendar-mode-selected {
  display: inline-block;
  color: #ccc;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
}

.calendar-legend-item {
  display: inline-block;
  font-size: 12px;
}

.calendar-legend-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 4px 0px 0px 20px;
}

.bullet-day { background: #00aaff; }
.bullet-month { background: #ff00CC; }
.bullet-season { background: #ff7500; }
.bullet-temp { background: #cccccc; }
.bullet-rain { background: #4477ff; border-radius: 4px; }

.calendar-legend-label {
  padding: 5px;
}

.tooltip-date {
  font-size: 28px;
  padding: 5px;
  text-align: center;
  display: block;
}

.tooltip-date-rainy,
.tooltip-date-cloudy,
.tooltip-date-clear {
  line-height: 36px;
  min-width: 40px;
  font-size: 20px;
  padding-left: 40px;
  color: #ccc;
  margin-bottom: 10px;
  text-align: center;
}

.tooltip-date-cloudy {
  background: url('img/cloudy.svg') 0px 2px no-repeat;
}

.tooltip-date-rainy {
  background: url('img/rainy.svg') 0px 0px no-repeat;
}

.tooltip-date-clear {
  background: url('img/clear.svg') 0px 2px no-repeat;
}

.tooltip-value-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.tooltip-value-text {
  display: inline-block;
  width: 80px;
  line-height: 20px;
  font-size: 12px;
}

.tooltip-value-duration {
  display: inline-block;
  background: url('img/clock.svg') 0px 3px no-repeat;
  padding-left: 16px;
}

#calendar-chart {
  padding-left: 60px;
  padding-right: 60px;
  display: block;
  text-align: center;
}


.axis text {
  font: 10px sans-serif;
  fill: #ccc;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

path.path-day {
  stroke: #00aaff;
  stroke-width: 2;
  opacity: 0.6;
}

path.path-month {
  stroke: #ff00CC;
  stroke-width: 2;
  opacity: 0.6;
}

path.path-season {
  stroke: #ff7500;
  stroke-width: 2;
  opacity: 0.6;
}

#totals  {

}

#percents  {
}

#temp path {
  opacity: 0.7;
}

#temp path:hover {
  opacity: 1;
}

#durations {

}

.bar-day {
  fill: #0099ff;
  opacity: 0.8;
}
.bar-month {
  fill: #ff44AA;
  opacity: 0.8;
}
.bar-season {
  fill: #ffaa00;
  opacity: 0.8;
}

.bar-hover {
  opacity: 0;
  cursor: pointer;
}

.bar-hover:hover {
  opacity: 0.3;
}

.bar-weekday {
  fill: #222;
}

.bar-workday {
  fill: #333;
}

.rain-circle {
  fill: #55f;
  opacity: 1;
}

.temp-path-bg {
  stroke: #000;
  opacity: 1;
  fill: none;
  stroke-width: 4;
}

.temp-path-line {
  stroke: #fff;
  opacity: 1;
  fill: none;
  stroke-width: 2;
}


@media only screen and (max-width: 1000px) {

    #title, #calendar-title {
        font-size: 20px;
    }

    #description {
      font-size: 13px;
    }

  }

  @media only screen and (max-width: 780px) {

      #title, #calendar-title {
          font-size: 18px;
      }

      .menu-item, .menu-header, .menu-item-selected {
        font-size: 13px;
        padding: 6px 20px;
      }
  }

  @media only screen and (max-height: 580px) {

    .menu-item, .menu-header, .menu-item-selected {
      font-size: 13px;
      padding: 6px 20px;
    }

  }
